@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-color: hsl(219, 38%, 8%);
  --body-color-alt: hsl(219, 32%, 12%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--body-color);
}

.main_container {
  max-width: 968px;
  height: 100vh;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #dddd;
}

.title {
  text-align: center;
}

.select {
  text-align: center;
  padding: 1rem;
}

select {
  padding: .5rem;
  cursor: pointer;
  font-size: 1rem;
}

.main_image {
  flex: 1;
  background-color: #333;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transform: scale(1);
  transition: all .9s ease-out;
}

.slide:nth-last-child(2) {
  opacity: 1;
  transform: scale(1.08);
}



